@inject IHtmlLocalizer<SharedLocalizer> Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@model List<Weather>

@{
    ViewData["Title"] = Localizer["Home"];
}

<style type="text/css">
    table {
        border-collapse: collapse;
    }

    table, td {
        border: 1px solid black;
    }

    td {
        padding: 5px;
    }

    h1 {
        display: inline-block;
    }

    small {
        color: #888888;
        display: inline-block;
        margin-left: 10px;

    }
</style>

<script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts.min.js"></script>

<div style="margin: 25px">
    <div>
        @{
            var requestCulture = Context.Features.Get<IRequestCultureFeature>();
            var cultureItems = LocOptions.Value.SupportedUICultures
                .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName, Selected = LocOptions.Value.DefaultRequestCulture.UICulture.Name == c.Name })
                .ToList();
            var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
        }

        <div>
            <form asp-controller="Weather" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" method="post" role="form">
                <select class="language-select" name="culture" onchange="this.form.submit();" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
            </form>
        </div>
    </div>

    <div>
        <h1>@Localizer["Introduction"]</h1>
        <div>
            <p>@Localizer["I1"]</p>
            <ul>
                <li>@Localizer["I21"]</li>
                <li>@Localizer["I22"]</li>
                <li>@Localizer["I23"]</li>
                <li>@Localizer["I24"]</li>
                <li>@Localizer["I25"]</li>
                <li>@Localizer["I26"]</li>
                <li>@Localizer["I27"]</li>
            </ul>
            <p>@Localizer["I3"]</p>
            <p>@Localizer["I4"]</p>
        </div>
    </div>

    <div>
        <h1>@Localizer["LatestData"]</h1>
        <small>@Localizer["LatestDataSmall"]</small>

        <table>
            <tbody>
                <tr>
                    <td><b>@Localizer["Time"]</b></td>
                    <td>@Model[6].DateTime.ToString("yyyy/MM/dd HH:mm")</td>
                </tr>
                <tr>
                    <td><b>@Localizer["Temperature"]</b></td>
                    <td>@Model[6].Temperature ℃</td>
                </tr>
                <tr>
                    <td><b>@Localizer["Humidity"]</b></td>
                    <td>@Model[6].Humidity %</td>
                </tr>
                <tr>
                    <td><b>@Localizer["Pressure"]</b></td>
                    <td>@Model[6].Pressure Pa</td>
                </tr>
                <tr>
                    <td><b>@Localizer["Dust"]</b></td>
                    <td>@Model[6].Dust mg/m³</td>
                </tr>
                <tr>
                    <td><b>@Localizer["UV"]</b></td>
                    <td>@Model[6].UV mW/cm²</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h1>@Localizer["6HourData"]</h1>
        <small>@Localizer["6HourDataSmall"]</small>

        <div>
            <div id="temp" style="width: 700px;height:400px;float:left"></div>
            <div id="humi" style="width: 700px;height:400px;float:left"></div>
            <div id="press" style="width: 700px;height:400px;float:left"></div>
            <div id="dust" style="width: 700px;height:400px;float:left"></div>
            <div id="uv" style="width: 700px;height:400px;float:left"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var temp = echarts.init(document.getElementById('temp'));
    var tempOpt = {
        title: {
            text: '@Localizer["Temperature"]'
        },
        tooltip: {},
        legend: {
            data: ['@Localizer["Temperature"]']
        },
        xAxis: {
            name: '@Localizer["Time"]',
            data: ["@Model[0].DateTime.ToString("MM/dd HH:mm")", "@Model[1].DateTime.ToString("MM/dd HH:mm")", "@Model[2].DateTime.ToString("MM/dd HH:mm")", "@Model[3].DateTime.ToString("MM/dd HH:mm")", "@Model[4].DateTime.ToString("MM/dd HH:mm")", "@Model[5].DateTime.ToString("MM/dd HH:mm")"]
        },
        yAxis: {
            name: '@Localizer["Temperature"] (℃)'
        },
        series: [{
            name: '@Localizer["Temp"] (℃)',
            type: 'line',
            smooth: true,
            itemStyle: {
                normal: {
                    color: '#c23531',  //圈圈的颜色
                    lineStyle: {
                        color: '#c23531'  //线的颜色
                    }
                }
            },
            data: [@Model[0].Temperature, @Model[1].Temperature, @Model[2].Temperature, @Model[3].Temperature, @Model[4].Temperature, @Model[5].Temperature]
        }]
    };
    temp.setOption(tempOpt);

    var humi = echarts.init(document.getElementById('humi'));
    var humiOpt = {
        title: {
            text: '@Localizer["Humidity"]'
        },
        tooltip: {},
        legend: {
            data: ['@Localizer["Humidity"]']
        },
        xAxis: {
            name: '@Localizer["Time"]',
            data: ["@Model[0].DateTime.ToString("MM/dd HH:mm")", "@Model[1].DateTime.ToString("MM/dd HH:mm")", "@Model[2].DateTime.ToString("MM/dd HH:mm")", "@Model[3].DateTime.ToString("MM/dd HH:mm")", "@Model[4].DateTime.ToString("MM/dd HH:mm")", "@Model[5].DateTime.ToString("MM/dd HH:mm")"]
        },
        yAxis: {
            name: '@Localizer["Humidity"] (%)'
        },
        series: [{
            name: '@Localizer["Humidity"] (%)',
            type: 'line',
            smooth: true,
            itemStyle: {
                normal: {
                    color: '#2f4554',
                    lineStyle: {
                        color: '#2f4554'
                    }
                }
            },
            data: [@Model[0].Humidity, @Model[1].Humidity, @Model[2].Humidity, @Model[3].Humidity, @Model[4].Humidity, @Model[5].Humidity]
        }]
    };
    humi.setOption(humiOpt);

    var press = echarts.init(document.getElementById('press'));
    var pressOpt = {
        title: {
            text: '@Localizer["Pressure"]'
        },
        tooltip: {},
        legend: {
            data: ['@Localizer["Pressure"]']
        },
        xAxis: {
            name: '@Localizer["Time"]',
            data: ["@Model[0].DateTime.ToString("MM/dd HH:mm")", "@Model[1].DateTime.ToString("MM/dd HH:mm")", "@Model[2].DateTime.ToString("MM/dd HH:mm")", "@Model[3].DateTime.ToString("MM/dd HH:mm")", "@Model[4].DateTime.ToString("MM/dd HH:mm")", "@Model[5].DateTime.ToString("MM/dd HH:mm")"]
        },
        yAxis: {
            name: '@Localizer["Pressure"] (Pa)',
            min: function(value) {
                return value.min - 100;
            }
        },
        series: [{
            name: '@Localizer["Pressure"] (Pa)',
            type: 'line',
            smooth: true,
            itemStyle: {
                normal: {
                    color: '#61a0a8',
                    lineStyle: {
                        color: '#61a0a8'
                    }
                }
            },
            data: [@Model[0].Pressure, @Model[1].Pressure, @Model[2].Pressure, @Model[3].Pressure, @Model[4].Pressure, @Model[5].Pressure]
        }]
    };
    press.setOption(pressOpt);

    var dust = echarts.init(document.getElementById('dust'));
    var dustOpt = {
        title: {
            text: '@Localizer["Dust"]'
        },
        tooltip: {},
        legend: {
            data: ['@Localizer["Dust"]']
        },
        xAxis: {
            name: '@Localizer["Time"]',
            data: ["@Model[0].DateTime.ToString("MM/dd HH:mm")", "@Model[1].DateTime.ToString("MM/dd HH:mm")", "@Model[2].DateTime.ToString("MM/dd HH:mm")", "@Model[3].DateTime.ToString("MM/dd HH:mm")", "@Model[4].DateTime.ToString("MM/dd HH:mm")", "@Model[5].DateTime.ToString("MM/dd HH:mm")"]
        },
        yAxis: {
            name: '@Localizer["Dust"] (mg/m³)'
        },
        series: [{
            name: '@Localizer["Dust"] (mg/m³)',
            type: 'line',
            smooth: true,
            itemStyle: {
                normal: {
                    color: '#d48265',
                    lineStyle: {
                        color: '#d48265'
                    }
                }
            },
            data: [@Model[0].Dust, @Model[1].Dust, @Model[2].Dust, @Model[3].Dust, @Model[4].Dust, @Model[5].Dust]
        }]
    };
    dust.setOption(dustOpt);

    var uv = echarts.init(document.getElementById('uv'));
    var uvOpt = {
        title: {
            text: '@Localizer["UV"]'
        },
        tooltip: {},
        legend: {
            data: ['@Localizer["UV"]']
        },
        xAxis: {
            name: '@Localizer["Time"]',
            data: ["@Model[0].DateTime.ToString("MM/dd HH:mm")", "@Model[1].DateTime.ToString("MM/dd HH:mm")", "@Model[2].DateTime.ToString("MM/dd HH:mm")", "@Model[3].DateTime.ToString("MM/dd HH:mm")", "@Model[4].DateTime.ToString("MM/dd HH:mm")", "@Model[5].DateTime.ToString("MM/dd HH:mm")"]
        },
        yAxis: {
            name: '@Localizer["UV"] (mW/cm²)'
        },
        series: [{
            name: '@Localizer["UV"] (mW/cm²)',
            type: 'line',
            smooth: true,
            itemStyle: {
                normal: {
                    color: '#91c7ae',
                    lineStyle: {
                        color: '#91c7ae'
                    }
                }
            },
            data: [@Model[0].UV, @Model[1].UV, @Model[2].UV, @Model[3].UV, @Model[4].UV, @Model[5].UV]
        }]
    };
    uv.setOption(uvOpt);
</script>